:root {
  --primary-font-text: "Roboto",
      sans-serif;
  --secondary-font-text: "Raleway",
      sans-serif;
  --logo-color: #2196F3;
  --border-color: #ECECEC;
  --logo-color-light-background: #000000;
  --logo-color-dark-background: #FFFFFF;
  --primary-color-text: #212121;
  --secondary-color-text: #757575;
  --text-color-dark-background: #FFFFFF;
  --active-color-hover-focus: #2196F3;
  --active-color-hover-focus-btn: #2196F380;
  --primary-background-color: #FFFFFF;
  --secondary-background-color: #2F303A;
  --hero-background-color: #C4C4C4;
  --background-color-individual-sections: #F5F4FA;
  --contacts-color-text: rgba(255, 255, 255, 0.6);
  --primery-icon-color: #AFB1B8;
  --background-color-icon-dark: rgba(255, 255, 255, 0.1);
  --active-bgcolor-block-info: rgba(33, 150, 243, 0.9);
  --background-color-text-in-img: rgba(47, 48, 58, 0.8);
  --black-text: #000000;
  --backdrop-background-color: rgba(0, 0, 0, 0.2);
  --submit-btn-background-color: #188CE8;
  --footer-input-color-text: rgba(255, 255, 255, 0.6);
  --transition-duration-timing-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-subscription, .company-link, .clients__items, .work__name, .icon-container, .menu__btn, .modal-window__label-checkbox, .modal-window__btn--close, .menu__btn-close-icon, .social-link, .social-link-items {
  display: flex;
  align-items: center;
  justify-content: center;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: var(--primary-font-text);
  background-color: var(--primary-background-color);
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.logo {
  font-family: var(--secondary-font-text);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  color: var(--logo-color-light-background);
}

.logo__style {
  color: var(--logo-color);
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.1923076923;
  }
}
.section-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1785714286;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-color-text);
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 36px;
    line-height: 1.1666666667;
    margin-bottom: 50px;
  }
}
.social-link-items {
  column-gap: 10px;
}

.social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--primery-icon-color);
  transition: color var(--transition-duration-timing-func), background-color var(--transition-duration-timing-func);
}

.social-logo {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.social-link:hover,
.social-link:focus {
  background-color: var(--active-color-hover-focus);
  color: var(--text-color-dark-background);
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: var(--primary-background-color);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  overflow-y: scroll;
  transition: opacity var(--transition-duration-timing-func), visibility var(--transition-duration-timing-func);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu__container {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 48px 40px;
}

.menu__btn-close {
  position: absolute;
  top: 16px;
  right: 15px;
  line-height: 0;
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  transition: color var(--transition-duration-timing-func);
}
.menu__btn-close:hover, .menu__btn-close:focus {
  color: var(--active-color-hover-focus);
}

.menu__btn-close-icon {
  width: 40px;
  height: 40px;
  fill: currentColor;
}

.mobile-menu__nav {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: var(--primary-color-text);
  transition: color var(--transition-duration-timing-func);
}
.mobile-menu__nav:hover, .mobile-menu__nav:focus {
  color: var(--active-color-hover-focus);
}

.mobile-menu__nav--current {
  color: var(--active-color-hover-focus);
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__items-contact {
  margin-top: auto;
  margin-bottom: 64px;
}

.mobile-menu__nav-mail {
  font-size: 24px;
  line-height: 1.1666666667;
  color: var(--secondary-color-text);
}

.mobile-menu__items-social {
  display: flex;
}

.mobile-menu__item-social {
  padding-left: 10px;
}

.mobile-menu__item-social:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-menu__item-social:nth-child(1) {
  padding-left: 0px;
}

.mobile-menu__social {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
  color: var(--active-color-hover-focus);
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
@media screen and (max-width: 479px) {
  .mobile-menu__nav {
    font-size: 7.5vw;
  }
  .mobile-menu__nav-mail {
    font-size: 5.5vw;
  }
  .mobile-menu__social {
    font-size: 4vw;
  }
}
.backdrop {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-background-color);
  overflow-y: scroll;
  opacity: 1;
  transition: opacity var(--transition-duration-timing-func), visibility var(--transition-duration-timing-func);
}

.backdrop.is-hidden {
  visibility: inherit;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal-window {
  transform: translate(-50%, -50%) scale(1.15);
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 450px;
  padding: 40px;
  background-color: var(--primary-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--transition-duration-timing-func);
}

.modal-window__btn--close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: var(--black-text);
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  transition: color var(--transition-duration-timing-func);
}
.modal-window__btn--close:hover, .modal-window__btn--close:focus {
  color: var(--active-color-hover-focus);
}

.modal-window__btn-icon {
  width: 18px;
  height: 18px;
  fill: currentColor;
}

@media screen and (min-width: 1200px) {
  .modal-window {
    width: 528px;
  }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .modal-window {
    width: 100%;
  }
}
.modal-window__form {
  display: flex;
  flex-direction: column;
}

.modal-window__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: var(--primary-color-text);
}

.modal-window__label {
  margin-bottom: 10px;
}

.modal-window__label-text {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: var(--secondary-color-text);
}

.modal-window__input-wrapper {
  position: relative;
  display: block;
}

.modal-window__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--transition-duration-timing-func);
}
.modal-window__input:focus {
  outline: none;
  border-color: var(--active-color-hover-focus);
}

.modal-window__input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  transition: fill var(--transition-duration-timing-func);
}
.modal-window__input:focus + .modal-window__input-icon {
  fill: var(--active-color-hover-focus);
}

.modal-window__label-comment {
  margin-bottom: 20px;
}

.modal-window__textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border-color var(--transition-duration-timing-func);
}
.modal-window__textarea:focus {
  outline: none;
  border-color: var(--active-color-hover-focus);
}
.modal-window__textarea::placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-window__label-checkbox {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: #757575;
}

.modal-window__checkbox {
  position: absolute;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.wrapper-checkbox-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 1px solid var(--black-text);
  border-radius: 3px;
  cursor: pointer;
  transition: background-color var(--transition-duration-timing-func), border-color var(--transition-duration-timing-func);
}
.modal-window__checkbox:checked + .wrapper-checkbox-icon {
  background-color: var(--active-color-hover-focus);
  border-color: transparent;
}
.modal-window__checkbox:focus + .wrapper-checkbox-icon {
  box-shadow: 0 0 0 2px rgba(0, 119, 255, 0.8);
}

.modal-window__checkbox-link {
  text-decoration-line: underline;
  color: var(--active-color-hover-focus);
}

.modal-window__submit-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: block;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--text-color-dark-background);
  background-color: var(--submit-btn-background-color);
  border-radius: 4px;
  border-color: transparent;
  margin: 0 auto;
  padding: 10px 52px;
  transition: background-color var(--transition-duration-timing-func), box-shadow var(--transition-duration-timing-func);
}
.modal-window__submit-btn:hover, .modal-window__submit-btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

@media screen and (max-width: 1199px) {
  .modal-window__label-checkbox {
    justify-content: flex-start;
    font-size: 12px;
    line-height: 1.1666666667;
  }
}
.page-header {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--border-color);
}

.page-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu__items {
  display: none;
}

.menu__btn {
  line-height: 0;
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  transition: color var(--transition-duration-timing-func);
}
.menu__btn:hover, .menu__btn:focus {
  color: var(--active-color-hover-focus);
}

.menu__btn-icon {
  width: 40px;
  height: 40px;
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .menu__btn {
    display: none;
  }
  .page-header {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .container-page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .menu {
    display: flex;
    align-items: center;
  }
  .menu__logo {
    margin-right: 87px;
  }
  .menu__items {
    display: flex;
  }
  .menu__nav {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .menu__item-nav:not(:last-child) {
    margin-right: 50px;
  }
  .menu__nav {
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428571429;
    letter-spacing: 0.02em;
    color: var(--primary-color-text);
    transition: color var(--transition-duration-timing-func);
  }
  .menu__nav:hover, .menu__nav:focus {
    color: var(--active-color-hover-focus);
  }
  .menu__nav--current {
    color: var(--active-color-hover-focus);
  }
  .menu__nav--current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--active-color-hover-focus);
    border-radius: 2px;
  }
  .menu__items--end {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: auto;
    column-gap: 10px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .menu__item-contact {
    margin-right: 0;
  }
  .menu__item-contact:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 768px) {
  .menu__nav-contact {
    color: var(--secondary-color-text);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    font-size: 12px;
    line-height: 1.1666666667;
  }
}
@media screen and (min-width: 768px) {
  .mail-icon,
.phone-icon {
    fill: currentColor;
    margin-right: 8px;
  }
}
@media screen and (min-width: 768px) {
  .mail-icon {
    width: 14px;
    height: 10px;
  }
}
@media screen and (min-width: 768px) {
  .phone-icon {
    width: 10px;
    height: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .menu__logo {
    margin-right: 92px;
  }
  .menu__items--end {
    flex-direction: row;
    gap: 30px;
  }
  .menu__nav-contact {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.1428571429;
  }
  .mail-icon,
.phone-icon {
    margin-right: 10px;
  }
  .mail-icon {
    width: 16px;
    height: 12px;
  }
  .phone-icon {
    height: 16px;
  }
}
.section-hero {
  padding-top: 118px;
  padding-bottom: 118px;
  max-width: 480px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--hero-background-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-img/Header-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .section-hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-img/Header-mobile@2x.jpg);
  }
}
.hero-title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6153846154;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-color-dark-background);
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.modele-open-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: block;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--text-color-dark-background);
  background-color: var(--active-color-hover-focus);
  border-radius: 4px;
  border-color: transparent;
  margin: 0 auto;
  padding: 10px 24px;
  transition: background-color var(--transition-duration-timing-func), box-shadow var(--transition-duration-timing-func);
}
.modele-open-btn:hover, .modele-open-btn:focus {
  background-color: var(--active-color-hover-focus-btn);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

@media screen and (min-width: 480px) {
  .hero-title {
    min-width: 360px;
  }
}
@media screen and (min-width: 768px) {
  .section-hero {
    max-width: 768px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-img/Header-tab.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .section-hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-img/Header-tab@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .section-hero {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-img/Header-desk.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .section-hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-img/Header-desk@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.3636363636;
    width: 696px;
  }
}
@media screen and (min-width: 1200px) {
  .modele-open-btn {
    padding: 10px 32px;
  }
}
.work-features__items {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.work-features__items .work-features__item {
  width: calc(100vw - 30px);
}

.work-features__item .work-features__title {
  margin-bottom: 10px;
}

.icon-container {
  width: calc(100vw - 30px);
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--background-color-individual-sections);
  border-radius: 4px;
}

.features-icon {
  width: 70px;
  height: 70px;
}

.work-features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-color-text);
}

.work-features__text {
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: var(--secondary-color-text);
}

@media screen and (min-width: 480px) {
  .work-features__items .work-features__item {
    width: 450px;
  }
  .icon-container {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .work-features__items .work-features__item {
    width: 354px;
  }
  .icon-container {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .work-features__items .work-features__item {
    width: 270px;
  }
  .icon-container {
    width: 270px;
  }
}
@media screen and (max-width: 767px) {
  .work-features__title {
    text-align: center;
  }
}
.work {
  padding-top: 0;
}

.work__items {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.work__pic {
  width: 370px;
  height: 294px;
}

.wrapper {
  position: relative;
}

.work__name {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: var(--background-color-text-in-img);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color-dark-background);
}

@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}
.section--gray-bg {
  background-color: var(--background-color-individual-sections);
}

.team__item {
  background: var(--primary-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__items {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.photo-commands {
  width: 450px;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  width: 450px;
  padding-top: 30px;
  padding-bottom: 24px;
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-color-text);
  margin-bottom: 10px;
}

.team__prof {
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color-text);
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .photo-commands {
    width: 354px;
  }
  .content-wrapper {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .photo-commands {
    width: 270px;
  }
  .content-wrapper {
    width: 270px;
    padding-bottom: 30px;
  }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .photo-commands {
    width: 100%;
  }
  .content-wrapper {
    width: 100%;
  }
}
.clients__items {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.company-link {
  width: 210px;
  height: 92px;
  border: 1px solid var(--primery-icon-color);
  border-radius: 4px;
  color: var(--primery-icon-color);
  transition: color var(--transition-duration-timing-func), border-color var(--transition-duration-timing-func);
}
.company-link:hover, .company-link:focus {
  color: var(--active-color-hover-focus);
  border-color: var(--active-color-hover-focus);
}

.company-icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .company-link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .company-link {
    width: 170px;
  }
}
.page-footer {
  background: var(--secondary-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.contact-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.logo--footer {
  color: var(--logo-color-dark-background);
  margin-bottom: 20px;
}

.page-footer__item:not(:last-child) {
  margin-bottom: 9px;
}

.page-footer__contact {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: var(--text-color-dark-background);
  transition: color var(--transition-duration-timing-func);
}
.page-footer__contact:hover, .page-footer__contact:focus {
  color: var(--active-color-hover-focus);
}

.page-footer__contact--color {
  color: var(--contacts-color-text);
  transition: color var(--transition-duration-timing-func);
}

.social-link-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-footer__text {
  display: flex;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color-dark-background);
  margin-bottom: 20px;
}

.footers-link {
  background-color: var(--background-color-icon-dark);
  color: var(--text-color-dark-background);
}

.page-footer__form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
}

.page-footer__label {
  display: flex;
  flex-direction: column;
}

.page-footer__label-text {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color-dark-background);
}

.page-footer__input {
  width: 100%;
  padding: 15px 16px;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: var(--footer-input-color-text);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.btn-subscription {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  padding: 10px 28px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  color: var(--text-color-dark-background);
  background: var(--active-color-hover-focus);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color var(--transition-duration-timing-func);
}
.btn-subscription:hover, .btn-subscription:focus {
  background-color: var(--active-color-hover-focus-btn);
}

.icon-subscription {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: currentColor;
}

@media screen and (max-width: 767px) {
  .page-footer__container {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }
}
@media screen and (min-width: 768px) {
  .page-footer__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .contact-wrap {
    margin-right: 165px;
  }
  .page-footer__form {
    margin-top: 60px;
  }
  .page-footer__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .page-footer__container {
    display: flex;
    align-items: baseline;
  }
  .contact-wrap {
    align-items: start;
    margin-right: 70px;
  }
  .page-footer__items {
    text-align: start;
  }
  .social-link-wrapper {
    align-items: flex-start;
  }
  .page-footer__form {
    align-items: flex-end;
    margin-left: auto;
    text-align: start;
    flex-direction: row;
  }
  .page-footer__input {
    width: 358px;
    margin-bottom: 0;
  }
  .btn-subscription {
    margin-left: 10px;
  }
}
.page-portfolio__btn-items {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 50px;
}

.selection-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: var(--primary-color-text);
  background: var(--background-color-individual-sections);
  border-radius: 4px;
  border-color: transparent;
  padding: 6px 22px;
  transition: color var(--transition-duration-timing-func), background-color var(--transition-duration-timing-func), box-shadow var(--transition-duration-timing-func);
}
.selection-btn:hover, .selection-btn:focus {
  color: var(--text-color-dark-background);
  background: var(--active-color-hover-focus);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.page-portfolio__items {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.page-portfolio__item {
  width: 450px;
}

.page-portfolio__link-work {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: inherit;
  height: 100%;
  transition: box-shadow var(--transition-duration-timing-func);
}
.page-portfolio__link-work:hover, .page-portfolio__link-work:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.wrapper-img {
  position: relative;
  overflow: hidden;
  padding-bottom: 0;
}

.page-portfolio__work-info {
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
  width: 100%;
  height: 100%;
  padding: 77px 24px;
  font-size: 18px;
  line-height: 1.5555555556;
  letter-spacing: 0.03em;
  color: var(--text-color-dark-background);
  background-color: var(--active-bgcolor-block-info);
  transform: translateY(101%);
  transition: transform var(--transition-duration-timing-func);
}
.page-portfolio__link-work:hover .page-portfolio__work-info, .page-portfolio__link-work:focus .page-portfolio__work-info {
  transform: translateY(0);
}

.text-wrapper {
  border: 1px solid var(--border-color);
  border-top: 0px;
  padding: 20px 24px;
}

.page-portfolio__name-work {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-color-text);
  margin-bottom: 4px;
}

.page-portfolio__type-work {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--secondary-color-text);
}

.subscription {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-left: auto;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .page-portfolio__item {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .page-portfolio__btn-items {
    margin-bottom: 30px;
  }
  .page-portfolio__item {
    width: 354px;
  }
  .page-portfolio__work-info {
    padding: 49px 24px;
  }
  .text-wrapper {
    flex-grow: 1;
  }
}
@media screen and (min-width: 1200px) {
  .container-portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .page-portfolio__btn-items {
    margin-bottom: 50px;
  }
  .page-portfolio__item {
    width: 370px;
  }
  .page-portfolio__work-info {
    padding: 63px 23px;
  }
}/*# sourceMappingURL=main.css.map */