.work-features__items {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    .work-features__item {
        width: calc(100vw - (15px * 2));
    }
}

.work-features__item {

    .work-features__title {
        margin-bottom: 10px;
    }
}


.icon-container {
    @extend %align;
    width: calc(100vw - (15px * 2));;
    height: 120px;
    margin-bottom: 30px;
    background-color: var(--background-color-individual-sections);
    border-radius: 4px;
}

.features-icon {
    width: 70px;
    height: 70px;
}

.work-features__title {
    font-weight: 700;
    @include font(14px, 16px);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-color-text);
}

.work-features__text {
    @include font(14px, 24px);
    letter-spacing: 0.03em;
    color: var(--secondary-color-text);
    }

@media screen and (min-width: 480px) {
.work-features__items {
        .work-features__item {
            width: 450px;
        }
    }

    .icon-container {
        width: 450px;
    }
}

@media screen and (min-width: 768px) {
    .work-features__items {    
            .work-features__item {
                width: 354px;
            }
        }    
    
        .icon-container {
            @extend %align;
            width: 354px;
        }
}

@media screen and (min-width: 1200px) {
    .work-features__items {
        .work-features__item {
            width: 270px;
        }
    }

    .icon-container {
        width: 270px;
    }
}

@media screen and (max-width: 767px) {
    .work-features__title {
        text-align: center;
    }
}