.clients__items {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    @extend %align;
}

.company-link {
    @extend %align;
    width: 210px;
    height: 92px;
    border: 1px solid var(--primery-icon-color);
    border-radius: 4px;
    color: var(--primery-icon-color);

    transition: color var(--transition-duration-timing-func),
        border-color var(--transition-duration-timing-func);

    &:hover,
    &:focus {
        color: var(--active-color-hover-focus);
        border-color: var(--active-color-hover-focus);
    }
}

.company-icon {
    width: 106px;
    height: 60px;
    fill: currentColor
}

@media screen and (min-width: 768px) {
    .company-link {
        width: 226px;
    }
}

@media screen and (min-width: 1200px) {
    .company-link {
        width: 170px;
    }
}