.work {
    padding-top: 0;
}

.work__items {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.wrapper {
    position: relative;
}

.work__name {
    position: absolute;
    left: 0;
    bottom: 0;

    @extend %align;
    width: 100%;
    height: 70px;

    background-color: var(--background-color-text-in-img);
    font-weight: 700;
    @include font(14px, 16px);
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--text-color-dark-background);
}