.section-title {
    font-weight: 700;
    @include font(28px, 33px);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-color-text);

    margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
    .section-title {
            @include font(36px, 42px);
            margin-bottom: 50px;
        }
}